.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/maxresdefault.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1-1 .u-text-1 {
  margin: 251px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 0 0;
}

.u-section-1-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -55px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 686px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 248px;
  }
}.u-block-365f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-365f-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2) + 115px);
  width: 65px;
  height: 65px;
  top: -65px;
  right: auto;
  background-image: none;
}

.u-block-365f-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2) + -47px);
  bottom: -65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-block-365f-3 {
    left: calc(((100% - 940px) / 2)  + 95px);
  }

  .u-block-365f-4 {
    right: calc(((100% - 940px) / 2)  + -38px);
  }
}

@media (max-width: 991px) {
  .u-block-365f-3 {
    left: calc(((100% - 720px) / 2)  + 73px);
  }

  .u-block-365f-4 {
    right: calc(((100% - 720px) / 2)  + -29px);
  }
}

@media (max-width: 767px) {
  .u-block-365f-3 {
    left: calc(((100% - 540px) / 2)  + 55px);
  }

  .u-block-365f-4 {
    right: calc(((100% - 540px) / 2)  + -22px);
  }
}

@media (max-width: 575px) {
  .u-block-365f-3 {
    left: calc(((100% - 340px) / 2)  + 35px);
  }

  .u-block-365f-4 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 679px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 0 0 -30px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 355px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 0 0 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -110px;
    margin-bottom: 60px;
    width: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 474px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 336px;
    margin-top: 1970px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -68px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: 1140px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 191px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 463px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 353px;
  margin: 41px auto 0;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 7px 7px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 210px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2645px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 272px;
  margin: 73px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 21px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 46px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 542px;
  margin: 6px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 6px 0 0;
}

.u-section-4 .u-image-3 {
  height: 636px;
  margin: 58px 0 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 6px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 58px 0 0;
}

.u-section-4 .u-image-4 {
  width: 570px;
  height: 319px;
  margin: 50px auto 0 285px;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 6px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 89px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: -61px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -428px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: -338px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-2 {
    margin-top: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 237px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2614px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 258px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 596px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: -424px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -459px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: 203px;
  }

  .u-section-4 .u-image-4 {
    width: 540px;
    height: 302px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2406px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 162px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 488px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: -177px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -472px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-top: 186px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 190px;
  }

  .u-section-4 .u-text-7 {
    margin-bottom: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 512px;
  height: 282px;
  margin: 26px auto 0;
}

.u-section-5 .u-image-2 {
  width: 455px;
  height: 767px;
  margin: 26px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 1px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 187px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 573px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1828px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 680px;
  margin: 15px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 570px;
  height: 680px;
  margin: -673px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-6 .u-btn-2 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 570px;
  height: 716px;
  margin: 19px auto 0 0;
}

.u-section-6 .u-image-4 {
  width: 570px;
  height: 716px;
  margin: -716px 0 0 auto;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 8px 0 17px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 644px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 644px;
    margin-top: -637px;
  }

  .u-section-6 .u-image-3 {
    width: 540px;
    height: 678px;
  }

  .u-section-6 .u-image-4 {
    width: 540px;
    height: 678px;
    margin-top: -678px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 405px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 405px;
    margin-top: -398px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 427px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 427px;
    margin-top: -427px;
  }
}.u-section-7 {
  min-height: 1029px;
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 804px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 935px;
  height: 332px;
  margin: 29px 80px 0 auto;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 953px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 256px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 889px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 818px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 121px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 2500px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 61px 20px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 40px 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 556px;
  height: 409px;
  margin: 55px auto 0 578px;
}

.u-section-8 .u-image-2 {
  width: 570px;
  height: 409px;
  margin: -409px auto 0 6px;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 6px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 50px 0 0;
}

.u-section-8 .u-btn-2 {
  padding: 0;
}

.u-section-8 .u-btn-3 {
  padding: 0;
}

.u-section-8 .u-image-3 {
  width: 643px;
  height: 283px;
  margin: 53px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 0.875rem;
  margin: 2px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 40px 0 0;
}

.u-section-8 .u-btn-4 {
  padding: 0;
}

.u-section-8 .u-image-4 {
  height: 123px;
  margin: 40px auto 0 0;
}

.u-section-8 .u-text-7 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-5 {
  padding: 0;
}

.u-section-8 .u-image-5 {
  width: 570px;
  height: 456px;
  margin: 33px auto 0 257px;
}

.u-section-8 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    margin-left: 384px;
  }

  .u-section-8 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    margin-left: 164px;
  }

  .u-section-8 .u-image-5 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2397px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 397px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 387px;
    margin-top: -397px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 540px;
    height: 238px;
  }

  .u-section-8 .u-image-5 {
    width: 540px;
    height: 432px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 250px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 244px;
    margin-top: -250px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 150px;
  }

  .u-section-8 .u-image-5 {
    width: 340px;
    height: 272px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 457px;
}

.u-section-9 .u-text-1 {
  font-weight: 900;
  margin: 1px 20px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 20px 1px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 15px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 444px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 132px 20px 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 40px 60px 0;
}

.u-section-10 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 809px;
}

.u-section-11 .u-image-1 {
  width: 783px;
  height: 507px;
  margin: 0 auto;
}

.u-section-11 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  margin: 38px 0;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 220px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 381px;
}

.u-section-12 .u-image-1 {
  width: 869px;
  height: 311px;
  margin: 8px auto 0;
}

.u-section-12 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 auto 40px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-image-1 {
    margin-top: 0;
  }

  .u-section-12 .u-text-1 {
    margin-top: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 258px;
    margin-top: 32px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 194px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 122px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 37px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1851px;
}

.u-section-13 .u-text-1 {
  font-weight: 900;
  margin: 89px 0 0;
}

.u-section-13 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-13 .u-btn-1 {
  padding: 0;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 556px;
  margin: 27px auto 0;
}

.u-section-13 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-4 {
  margin: 50px auto 0 0;
}

.u-section-13 .u-image-2 {
  width: 570px;
  height: 388px;
  margin: 20px auto 0;
}

.u-section-13 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 92px;
}

.u-section-13 .u-text-6 {
  margin: 28px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-5 {
    margin-left: 76px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-5 {
    margin-left: 58px;
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 526px;
  }

  .u-section-13 .u-image-2 {
    width: 540px;
    height: 367px;
  }

  .u-section-13 .u-text-5 {
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 331px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 231px;
  }

  .u-section-13 .u-text-5 {
    margin-left: 28px;
    margin-right: 28px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 1391px;
}

.u-section-14 .u-text-1 {
  font-weight: 900;
  margin: 0 20px;
}

.u-section-14 .u-text-2 {
  margin: 26px 20px 0;
}

.u-section-14 .u-btn-1 {
  padding: 0;
}

.u-section-14 .u-image-1 {
  width: 736px;
  height: 285px;
  margin: 37px auto 0 181px;
}

.u-section-14 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-14 .u-text-4 {
  margin: 39px 40px 0 0;
}

.u-section-14 .u-image-2 {
  width: 718px;
  height: 273px;
  margin: 9px auto 0;
}

.u-section-14 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-14 .u-text-6 {
  margin: 20px 40px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-4 {
    margin-right: 0;
  }

  .u-section-14 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-14 .u-image-1 {
    width: 720px;
    height: 279px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-14 .u-image-1 {
    width: 540px;
    height: 209px;
  }

  .u-section-14 .u-image-2 {
    width: 540px;
    height: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 132px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 129px;
  }
}